* {
	--background: #dae4e5;
	--form: #94c0c2;
	--button: #296e6b;
	--border: #69a4a2;
	--font-form: #2b4a4a;
	--font-shadow: #0b1313;
}

body {
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
	background-color: var(--background);
  }

  .container {
	max-width: 70%;
	margin: 0 auto;
	padding: 20px;
  }

  h1 {
	text-align: center;
	color: var(--font-shadow);
  }


  /* Styles for form */

  form {
	background-color: var(--form);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0.5px 0.5px var(--font-shadow);
  }

  label {
	display: block;
	margin-bottom: 10px;
	color: var(--font-form);
  }

  input[type="text"],
  input[type="date"],
  input[type="number"],
  input[type="type"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid var(--border);
	border-radius: 5px;
	box-sizing: border-box;
  }

  textarea:focus, input:focus, select:focus{
    outline: none;
}

  select {
	font-size: 16px;
	width: 100%;
	height: 40px;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid var(--border);
	border-radius: 5px;
	box-sizing: border-box;
  }


  /* Button */

  button[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: var(--button);
	color: var(--background);
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }


  /* Styles for expenses list */

  ul {
	list-style-type: none;
	padding: 0;
  }

  li {
	background-color: var(--form);
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 0 0.5px 0.5px var(--font-shadow);
	word-spacing: 1rem;
	text-align: center;
  }


  /* Bouncing Money bag */

  .spiner-container{
	width: 100px;
	height:100px;
	position: relative;
  }

  svg {
	animation: moneybags 3s infinite;
	width:100px;
	height:100px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -5%, 0%);
  }

  .dollar {
	animation: inout 1s infinite linear forwards running;
	perspective: 1000px;
	transform-origin: center;
	fill: #000;
  }

  .dori {
	perspective: 1000px;
	transform-origin: center;
	transform: scale(0.91);
	animation: inouts 1.2s infinite linear running forwards;
  }

  @keyframes moneybag {
	0% { fill: var(--background); }
	10% { fill: var(--form); }
	20% { fill: var(--form); }
	30% { fill: var(--form); }
	40% { fill: var(--form); }
	50% { fill: var(--form); }
  }
  
  @keyframes zizo {
	0% { transform: scale(1.05,1.05); }
	50% { transform: scale(1.1,1.1); }
	100% { transform: scale(1,1); }
  }
  

  @keyframes dollar {
	100% { transform: scale(-1,1)}
	
  }
  
  path.bottom_part {
	transform-origin: center;
	position: relative;
	animation: bounces 1.1s infinite normal forwards linear running;
  }
  
  
  path.up_part {
	transform-origin: center;
	transform: scale(1.1);
	animation: inout 1.1s infinite normal forwards linear running;
  }

 @keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

  
  @keyframes inout {
	0% {
	  animation-timing-function: cubic-bezier(0.9647,0.2413,-0.0705,0.7911);
	  transform: scale(0.9099999999999999);
	}
	51% {
	  animation-timing-function: cubic-bezier(0.9226,0.2631,-0.0308,0.7628);
	  transform: scale(1.02994);
	}
	100% {
	  transform: scale(0.9099999999999999);
	}
  }
  
  @keyframes bounce {
	0% {
	  width: 75px !important;
	}
	51% {
	  width: 50px !important;
	}
	100% {
	  width: 75px !important;
	}
  }
  

  